<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-12 text-center">

        <div class="mb-5 element-animate">
          <h1>Our Services</h1>
          <p>Your great smile begins with a great dentist</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section bg-light">
  <div class="container">
    
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="post-entry">
          <img src="images/scaling.jpg" alt="Image placeholder" class="img-fluid">
          <div class="body-text">
            <div class="category">General Dentistry</div>
            <h3 class="mb-3"><a href="">Scaling & Polishing</a></h3>
            <p class="mb-4">Treatment performed to completely clean the teeth and gums. Scaling and polishing is a vital dental treatment for halting the progression of gingivitis and periodontal disease.</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="post-entry">
          <img src="images/implant.jpg" alt="Image placeholder" class="img-fluid">
          <div class="body-text">
            <div class="category">Surgery Dentistry</div>
            <h3 class="mb-3"><a href="#">Dental Implants</a></h3>
            <p class="mb-4">Dental Implant function as the root of a new tooth. Once inserted in the mouth, they look, feel and function like natural teeth.</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="post-entry">
          <img src="images/whitening2.jpg" alt="Image placeholder" class="img-fluid">
          <div class="body-text">
            <div class="category">Cosmetic Dentistry</div>
            <h3 class="mb-3"><a href="#">Teeth Whitening</a></h3>
            <p class="mb-4">Whiter teeth definitely improve your smile and they will even work better things out for you. Teeth whitening are one of the most practiced cosmetic treatments internationally.</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="post-entry">
           <img src="images/Tooth-Extraction.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">Surgical Dentistry</div>
              <h3 class="mb-3"><a href="#">Tooth Extraction</a></h3>
              <p class="mb-4">A safe removal of one or more teeth.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="images/rootcanal.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">Endodontics</div>
              <h3 class="mb-3"><a href="#">Root Canal</a></h3>
              <p class="mb-4">To remove infections from inside of a tooth.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="images/dentalfillings.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">New Rooms</div>
              <h3 class="mb-3"><a href="#">Dental Fillings</a></h3>
              <p class="mb-4">To treat a small hole or cavity in a tooth.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="post-entry">
            <img src="images/inlay.jpeg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">Rooms</div>
              <h3 class="mb-3"><a href="#">Inlays & Onlays</a></h3>
              <p class="mb-4">Fillings to complete the imperfect teeth.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="images/Dentures.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">News</div>
              <h3 class="mb-3"><a href="#">Dentures</a></h3>
              <p class="mb-4">Artificial teeth and gums created to replace your removed teeth.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="images/braces2.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">New Rooms</div>
              <h3 class="mb-3"><a href="#">Braces</a></h3>
              <p class="mb-4">To straighten your teeth and treat misalignment problems</p>
              <p><a href="https://wa.me/0136008008"  target="_blank"  class="btn btn-primary btn-outline-primary btn-sm">Contact Us</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- END section -->
 
 
 
 <!-- include footer -->
 <%- include('include/_footer') %>
 <!-- /include footer -->